.feedPage
  // height: 83vh
  padding: 5vw
  // padding-bottom: 12vh
  // display: flex
  // align-items: center
  // justify-content: center

.snippet
  width: 80vw
  padding: 5vw
  margin: auto
  margin-top: 5vw
  background-color: $snippetBackground
  box-shadow: 0px 0px 10vw 2vw $snippetShaddowColor
  +appFont(6vw)
