.loginPage
  height: 70vh
  display: flex
  align-items: center
  justify-content: center

// .container
//   text-align: center

.loginIcon
  display: block
  margin: auto

.loginInput
  display: block
  margin: auto

.loginButton
  display: block
  margin: auto
  margin-top: 5vw

.fullWidthInput
  margin-top: 5vw
  text-align: center
  background-color: $fullWidthInputInactive
  width: 96vw
  border: none
  border-radius: 0
  padding: 2vw
  +appFont(7vw)
  &:focus
    outline: none
    background-color: $fullWidthInputActive
