////////////
//colors
////////////

$searchBarInactive: #000000
$searchBarActive: #555555
$searchBarActiveText: #ffffff

$feedButton: #50ab98
$navBarText: #ffffff

$buttonInactive: #000000
$buttonActive: #5d5d5d
$buttonText: #ffffff

$fullWidthInputInactive: rgb(148, 148, 148)
$fullWidthInputActive: rgb(208, 208, 208)




////////////
//mixins
////////////

=appFont($size)
  font:
    family: 'futura pt'
    weight: 400
    size: $size
