<div class="feedPage">

  <div class="container">
    <div class="snippet">
      <p class="snippetText">This is just a sample snippet to see what it looks like.</p>
    </div>
    <div class="snippet">
      <p class="snippetText">This is just a sample snippet to see what it looks like.</p>
    </div>
    <div class="snippet">
      <p class="snippetText">This is just a sample snippet to see what it looks like.</p>
    </div>
    <div class="snippet">
      <p class="snippetText">This is just a sample snippet to see what it looks like.</p>
    </div>
    <div class="snippet">
      <p class="snippetText">This is just a sample snippet to see what it looks like.</p>
    </div>
    <div class="snippet">
      <p class="snippetText">This is just a sample snippet to see what it looks like.</p>
    </div>
    <div class="snippet">
      <p class="snippetText">This is just a sample snippet to see what it looks like.</p>
    </div>
  </div>

</div>
