<div class="loginPage">
  <div class="container">
    <img src="apple-touch-icon.png" alt="" class="loginIcon">
    <input type="text" placeholder="username" class="loginInput fullWidthInput" ng-model="ac.username">
    <input type="password" placeholder="password" class="loginInput fullWidthInput" ng-model="ac.password">
    <button type="button" class="standardButton loginButton" ng-click="ac.login(); mc.checkCurrentLocation(true)">LOGIN</button>
    <a href="/#!/register" ng-click="mc.checkCurrentLocation()" class="registerLink">Register</a>
  </div>
</div>
