<div class="registerPage">
  <div class="container">
    <input type="text" class="registerUsername fullWidthInput" placeholder="Username">
    <input type="password" class="registerPassword1 fullWidthInput" placeholder="Password">
    <input type="password" class="registerPassword2 fullWidthInput" placeholder="Confirm Password">
    <input type="email" class="registerEmail fullWidthInput" placeholder="emAil">
    <button type="button" class="standardButton registerButton" ng-click="ac.register()">SUBMIT</button>
  </div>
</div>
